/*  form starts  */
.appoint-img {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.appoint-img .image img {
    width: 400px;
    height: 550px;
    margin-top: 11rem;
    border-radius: 10px;
}

.form {
    background-color: #fff;
    height: 550px;
    width: 500px;
    margin: 11rem 0;
    border-radius: 10px;
}

.form h1 {
    font-size: 3rem;
    color: rgb(11, 157, 165);
    text-align: center;
    padding: 20px;
}

.form .form-container input {
    padding: 15px 70px;
    margin: 1rem 10rem;
    text-align: center;
    border-radius: 5px;
    background-color: #ddd;
}

.address-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

button {
    padding: 10px 70px;
    background: rgb(11, 157, 165);
    color: #fff;
    font-size: 1.8rem;
    border-radius: 5px;
    margin: 1.5rem 15rem;
}

button:hover{
    cursor: pointer;
    background: rgb(42, 200, 208);
    transition: .3s;
}

/*  form ends  */