/*  gallery starts  */
.img-container {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 8rem 20px;
}

.img-container .main-content {
    padding: 20px 0;
}

.main-content h1 {
    font-size: 3rem;
    color: rgb(11, 157, 165);
}

.main-content .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 5rem;
    gap: 2rem;
}

.gallery-image {
    width: 100%;
    height: 200px;
}

/*  gallery ends  */