@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*,
::before,
::after {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

body {
    background-color: rgb(234, 250, 255);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: #fff;
    }

    &::-webkit-scrollbar-thumb {
        background: rgb(0, 217, 255);
    }
}

section .background {
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    padding: 25rem 9%;
}

section .background p {
    font-size: 1.4rem;
    padding-bottom: 3rem;
    color: rgb(96, 96, 96);
    word-spacing: .1rem;
}

section .background h1 {
    font-size: 5rem;
    color: rgb(0, 0, 194);
    padding-bottom: 2rem;
}

section .background a {
    color: #fff;
    background-color: rgb(254, 54, 87);
    padding: 1.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 50px;
}

/*  card section starts  */
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: -12rem;
}

.card-container .card,
.cards {
    color: #333;
    width: 320px;
    height: 320px;
    background-color: #fff;
    border-radius: 10px;
}

.card-container .card p,
.cards p {
    color: #757575;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 3rem 2rem 4rem 2rem;
    line-height: 1.4;
    text-align: center;
}

.card-container .cards p {
    line-height: normal;
    text-align: center;
}

.card-container .card h1,
.cards h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(0, 0, 133);
    padding-left: 2rem;
}

.card-container .cards .timings {
    padding-top: 2rem;
}

.card-container .cards .timings p {
    padding-top: .8rem;
}

.card-container .cards p span {
    padding-left: 5rem;
    text-align: start;
}

.card-container .card .btn {
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    background-color: rgb(0, 0, 133);
    padding: 1.5rem 3rem;
    margin: 6.5rem;
    border-radius: 100px
}

/*  card section ends  */

/*  patients care starts  */
.award-container h1 {
    color: rgb(0, 0, 140);
    font-size: 3.5rem;
    text-align: center;
    padding-top: 8rem;
}

.award-container p {
    color: #5c5c5c;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    padding: 2rem;
}

.opertaions-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3rem;
    margin-left: 15rem;
}

.operations-items {
    background-color: #fff;
    height: 180px;
    width: 300px;
    border-radius: 10px;
    margin-top: 2rem;
}

.operations-items .operations-info h2 {
    text-align: center;
    padding-top: 4rem;
    font-size: 1.8rem;
}

.operations-items .operations-info p {
    text-align: center;
    font-weight: normal;
}

/*  patients care ends  */

/*  testimonial section starts  */
.testimonial-container h1 {
    color: rgb(0, 0, 140);
    font-size: 3.5rem;
    text-align: center;
    padding-top: 8rem;
}

.testimonial-container .testimonial-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.testimonial-items .testimonial {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.testimonial-content .testimonial-items {
    background-color: #fff;
    width: 450px;
    height: 220px;
    margin-top: 5rem;
    padding: 2rem;
}

.testimonial-content .testimonial-items img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.testimonial-items .testimonial-info b {
    font-size: 1.5rem;
    color: #5c5c5c;
}

.testimonial-items .testimonial-info p {
    font-size: 1rem;
    padding-top: .2rem;
    color: #333;
}

.testimonial-items .msg {
    padding-top: 2rem;
    color: #333;
}

.testimonial-items .msg p {
    font-size: 1.3rem;
    line-height: 2;
}

/*  testimonial section ends  */

/*  footer starts  */
.footer-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 8rem;
    padding-bottom: 5rem;
}

.footer-container .content {
    display: flex;
    gap: 2rem;
}

.footer-container .content .heading h2,
.links h2,
.contact h2 {
    font-size: 2.5rem;
}

.footer-container .content img {
    background: none;
    width: 40px;
    height: 40px;
}

.footer-container .social-links {
    display: flex;
}

.footer-container .social-links img {
    margin-top: 2rem;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.footer-container .contact .support,
.call {
    padding-top: 2rem;
}

.contact .support b,
.call b {
    color: #8b8a8a;
    font-size: 1.8rem;
}

.contact .support p,
.call p {
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(0, 0, 140);
}

/*  footer ends  */